@import url('font.css');
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0; line-height:175%; letter-spacing:normal} /* delete vertical-align,font:inherit; */
body,html{width:100%; font-size:16px; color:#777777; font-weight: 300; font-family:'SCoreDream', 'Noto Sans KR', 'Josefin Sans', Malgun Gothic,'Malgun Gothic', sans-serif; height:100%;}
*{font-family: 'SCoreDream','Noto Sans KR', 'Josefin Sans', Malgun Gothic,'Malgun Gothic', sans-serif; }
ol,ul,li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table {border-collapse:separate;border-spacing:0; font-size:0.9375rem;}
table caption {overflow:hidden; font-size:0; line-height:0; font-size:0.9375rem;}
tbody,tfoot,thead,tr,th,td {margin:0;line-height:160%;letter-spacing:normal;}
dt{display:block;}
hr{display:none;}
a{cursor:pointer;text-decoration:none;color:inherit;}
a, a:hover{transition:all 0.7s cubic-bezier(0.215,0.61,0.355,1);}
address{font-style:normal;}
input,select,img{vertical-align:middle;}
input:focus, textarea:focus, button:focus {outline:none;}  /* 크롬에서 커서 클릭시 파란색 테두리 제외*/

select { border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none; background: url("/img/cat_arrow_bk.png") no-repeat right 10px center;}
select::-ms-expand {display:none}
input[type=text]::-ms-clear {display: none;}
input::-webkit-input-placeholder {color:#ababab; }
input:-ms-input-placeholder {color:#ababab; }
input::placeholder {color:#ababab; }

span, b, strong{line-height:inherit; font-family:inherit;}

/* Web Content Accessibility TTS(Text To Speech) Code */
.blind {position:absolute; top:0px; left:0px; overflow:hidden; display:inline-block !important; width:1px !important; height:1px !important; margin:0 !important; font-size:0 !important; line-height:0 !important;}



/* Common */
.line_bg{height:2px; background-color:#f5f5f5}
.eng{font-family: 'Josefin Sans', 'SCoreDream', 'Noto Sans KR', Malgun Gothic,'Malgun Gothic', sans-serif !important;}
.img_bor{border:1px solid #ddd}
.ls0 {letter-spacing:0 !important; }
.w1280{width: 100%; max-width:1280px; padding: 0 25px; box-sizing:border-box; margin: 0 auto;}
.center{text-align:center !important;}
.left{text-align:left !important;}
.right{text-align:right !important;}
.bold{font-weight: 700 !important;}
.grayBg{background-color: #f9f9f9 !important;}
.blackFont{color: #333333 !important;}



#wrap {position:relative; width:100%; min-width:280px; height: 100%;}



/* Header */
#header{position:fixed; left:0; top:0; width:100%; z-index:999999;}
#header .header_in{max-width:1650px; width:100%; margin:0 auto; padding:30px 25px; box-sizing:border-box;}
#header .header_in:after{content:''; display:block; clear:both;}
#header .header_in h1{float:left;}
#header .header_in h1 a{display:block; width:180px; height:50px; transition:all .3s linear; font-size:0;}
#header .header_in h1 a svg path,
#header .header_in h1 a svg rect,
#header .header_in h1 a svg polygon  {fill: #fff;}
#header .header_in .topUtil{float:right; font-size:0; margin:10px 0 0;}
#header .header_in .topUtil li{display:inline-block; vertical-align:top;}
#header .header_in .topUtil li a{display:block; width:30px; height:30px; background:url('/img/sitemap.png') no-repeat center/100% auto; transition:all .3s linear;}
#header .header_in .topUtil li a:hover{opacity:0.5;}


#header.on .header_in h1 a svg path,
#header.on .header_in h1 a svg rect,
#header.on .header_in h1 a svg polygon{fill: #0b4c45;}
#header.on .header_in h1 a .st1  {fill: #0b4c45; stroke: #0b4c45;}
#header.on .header_in .topUtil li a{background:url('/img/sitemap_up.png') no-repeat center/100% auto;}


.fp-viewing-secondPage-1 #header .header_in h1 a svg path,
.fp-viewing-secondPage-1 #header .header_in h1 a svg rect,
.fp-viewing-secondPage-1 #header .header_in h1 a svg polygon{fill: #0b4c45;}
.fp-viewing-secondPage-1 #header .header_in h1 a .st1 {fill: #0b4c45; stroke: #0b4c45;}
.fp-viewing-4rhPage #header .header_in h1 a svg path,
.fp-viewing-4rhPage #header .header_in h1 a svg rect,
.fp-viewing-4rhPage #header .header_in h1 a svg polygon  {fill: #0b4c45;}
.fp-viewing-4rhPage #header .header_in h1 a .st1 {fill: #0b4c45; stroke: #0b4c45;}
.fp-viewing-5thPage #header .header_in h1 a svg path,
.fp-viewing-5thPage #header .header_in h1 a svg rect,
.fp-viewing-5thPage #header .header_in h1 a svg polygon  {fill: #0b4c45;}
.fp-viewing-5thPage #header .header_in h1 a .st1 {fill: #0b4c45; stroke: #0b4c45;}

.fp-viewing-secondPage-1 #header .header_in .topUtil li a{background:url('/img/sitemap_up.png') no-repeat center/100% auto;}
.fp-viewing-4rhPage #header .header_in .topUtil li a{background:url('/img/sitemap_up.png') no-repeat center/100% auto;}
.fp-viewing-5thPage #header .header_in .topUtil li a{background:url('/img/sitemap_up.png') no-repeat center/100% auto;}



/* 모바일 메뉴 : 슬라이드 메뉴 */
#menuArea {display:none; position:fixed; top:0; right:0; z-index:9999999999; height:100%; width:400px;}
#menuArea .menuList {height:100%; width:400px; background: #fff; position:absolute; right:-400px; box-sizing:border-box;}
#menuArea .menuList h2 {position:Relative; padding:60px 40px; box-sizing:border-box; overflow:hidden; }
#menuArea .menuList h2 img{width:240px;}

#menuArea .menuList ul, #menuArea .menuList li{list-style:none;}
#menuArea .menuList>.list {background-color:#fff; width:100%; ;}
#menuArea .menuList>.list>li {background:#fff; }
#menuArea .menuList>.list>li>a {display:inline-block; margin:0 40px 20px; font-size:28px; line-height: 120%; font-weight:400; color:#333; font-family: 'Josefin Sans', 'SCoreDream', 'Noto Sans KR', Malgun Gothic,'Malgun Gothic', sans-serif; position:relative; letter-spacing:0.3pt; position: relative;}
#menuArea .menuList>.list>li>a:after{content:''; display: inline-block; width: 0; height: 15px; background:#0b4c45; transition:all .3s linear; position: absolute; left: 0; bottom: 0; opacity: .3;} 
#menuArea .menuList>.list>li>a:hover:after{width: 100%;}
#menuArea .menuList>.list>li.active>a{color:#0b4c45;}

#menuArea .mail{padding:80px 40px 0; box-sizing:border-box;}
#menuArea dl{display:flex; align-items: center; border-top:1px solid #ddd; padding:28px 0 0; box-sizing:border-box;}
#menuArea dl dt{font-size:20px; line-height: 40px; font-weight:400; color:#333; letter-spacing:0.5pt; font-family: 'Josefin Sans', 'SCoreDream', 'Noto Sans KR', Malgun Gothic,'Malgun Gothic', sans-serif;}
#menuArea dl dt:before{content:''; display:inline-block; vertical-align: middle; width:40px; height:40px; box-sizing:border-box; border:1px solid #ddd; border-radius:50%; background:url('/img/maii.png') no-repeat center; margin: -2px 5px 0 0;}
#menuArea dl dt:after{content:''; display:inline-block; vertical-align: middle; margin: -4px 7px 0; width:1px; height:11px; box-sizing:border-box; background:#ddd;}
#menuArea dl dd{font-size:16px; line-height: 120%; font-weight:300; letter-spacing:0; font-family: 'Josefin Sans', 'SCoreDream', 'Noto Sans KR', Malgun Gothic,'Malgun Gothic', sans-serif;}

#menuArea .menuList .btnMenu_mClose {margin:0; padding:0; width:23px; height:23px; background:url('/img/close_b.png') no-repeat center/100% auto; position:absolute; right:40px; top:68px; border:none; cursor:pointer;}

#grayLayer {width:100%; height:100% !important; background:rgba(0,0,0,0.8); position:fixed; left:0; top:0; z-index:999999991; overflow-x:hidden;overflow-y:auto;display:none;}
#grayLayer > a {display:block;width:100%;height:100%}






/* Footer */
#footer{background:#f9f9f9; height: auto !important; display: block !important;}
#footer .fp-tableCell {height:auto !important; margin: 0 auto; display: block !important;}
#footer .contact{background:#fff; border-bottom:1px solid #ddd; box-sizing:border-box; padding:45px 0;}
#footer .contact .contact_in{display:flex; align-items: center; flex-wrap: wrap; padding:0 25px !important;} 
#footer .contact .contact_in h4{font-size:26px; line-height: 120%; font-weight:700; letter-spacing:0.5pt; color:#333; margin:0 50px 0 0;}
#footer .contact .contact_in p{font-size:18px; letter-spacing:0; line-height: 120%;}
#footer .contact .contact_in p a{display:inline-block; color:#004b44; line-height: 120%; text-decoration:underline; }
#footer .footer_in{display:flex; align-items: center; flex-wrap: wrap; justify-content: space-between; padding:35px 25px;}
#footer .footer_in p{font-size:15px; letter-spacing:0; color:#333; font-weight:400; }
#footer .footer_in a{display:inline-block; font-size:15px; letter-spacing:0; color:#333; font-weight:400; transition:all .3s linear;}
#footer .footer_in a:hover{color:#0b4c45;}





/* Start-슬릭기본 */
.slick-slider{position: relative; display: block; box-sizing: border-box;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y; touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-slide{display: none; float: left;}
.slick-initialized .slick-slide{display:block;}
/* End-슬릭기본 */



/**  코딩시 지우지 말 것 **/
/* 게시판 페이징 */
.page_num {position: relative; width: 100%; text-align: center; padding:40px 0 0;}
.page_num ul.pagination {display: inline-block; padding: 0; margin: 0; font-size:0;}
.page_num ul.pagination li {display:inline-block; vertical-align: middle; margin: 0 13px;}
.page_num ul.pagination li:nth-child(1){margin:0 22px 0 0;}
.page_num ul.pagination li:nth-child(2){margin:0 22px 0 0;}
.page_num ul.pagination li:nth-last-child(2){margin:0 0 0 22px;}
.page_num ul.pagination li:nth-last-child(1){margin:0 0 0 22px;}
.page_num ul.pagination li a {display:block; color: #999999; font-size:15px; letter-spacing: -0.5pt; font-weight: 400; text-decoration: none; box-sizing:Border-box; font-family: 'Josefin Sans', 'SCoreDream', 'Noto Sans KR', Malgun Gothic,'Malgun Gothic', sans-serif; transition:all .2s linear; line-height:130%; text-align:center; padding: 0 3px;}
.page_num ul.pagination li.arrow a{padding: 0;}
.page_num ul.pagination li a.active {color:#222; border-bottom: 1px solid #222;}
.page_num ul.pagination li a img{height: 12px; opacity: .3; transition:all .3s linear;}
.page_num ul.pagination li a:hover img{opacity: 1;}

/* 에러페이지 */
#error {position:absolute; border:1px solid #ddd; width:500px; padding:200px 50px 50px 50px; text-align:center; background:url('/img/warning_icon.gif') center 50px no-repeat; left:50%; margin-left:-300px; top:49%; margin-top:-203px; box-shadow:0px 5px 0 #f6f6f6;} /*  -moz-transform:translateY(-49%); -ms-transform:translateY(-49%); -webkit-transform:translateY(-49%); transform:translateY(-49%); */
#error h1 {color:#333; font-family:"NanumGothic", "NG", MalgunGothic, Dotum, Arial, sans-serif; margin:0; letter-spacing:-0.5pt;}
#error h1 span {color:#cc141d;}
#error div {color:#666; font-size:18px; letter-spacing:-0.5pt; margin-top:30px; padding-top:30px; line-height:150%; border-top:1px dashed #ccc;}






/*******************************************************************************
    @media 1600px
*******************************************************************************/
@media all and (max-width:1600px){







}


/*******************************************************************************
    @media 1280px
*******************************************************************************/
@media all and (max-width:1280px){



/* Header */
#header{}
#header .header_in{padding:25px 25px;}
#header .header_in h1 a{width:144px; height:40px;}
#header .header_in .topUtil{margin:7px 0 0;}
#header .header_in .topUtil li a{width:26px; height:26px;}




/* Footer */
#footer{}
#footer .contact{padding:35px 0 30px;}
#footer .footer_in{padding:30px 25px 25px;}




}
/*******************************************************************************
    @media  ~980px                body,html{font-size:14px; }     3%
*******************************************************************************/
@media all and (max-width:980px){

/* Common */
body,html{font-size:14px;}
.w1280{padding: 0 3%;}

/* Header */
#header{}
#header .header_in{padding:20px 3%;}
#header .header_in h1 a{width:130px; height:36px;}
#header .header_in .topUtil{margin:8px 0 0;}
#header .header_in .topUtil li.btnMenu_m{display:inline-block;}
#header .header_in .topUtil li.sitemap{display:none;}
#header .header_in .topUtil li a{width:20px; height:20px;}





/* Footer */
#footer{}
#footer .contact{padding:25px 0 20px;}
#footer .contact .contact_in{padding:0 3% !important;} 
#footer .contact .contact_in h4{font-size:22px; margin:0 30px 0 0;}
#footer .contact .contact_in p{font-size:16px;}
#footer .footer_in{padding:25px 3% 20px; display:block;}
#footer .footer_in p{font-size:14px; padding:0 0 10px;}
#footer .footer_in a{font-size:14px;}


}
/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width:680px){

select {background: url("/img/cat_arrow_bk.png") no-repeat right 10px center/ 10px auto;}

/* Header */
#header{}
#header .header_in{padding:18px 3%;}




/* 모바일 메뉴 : 슬라이드 메뉴 */
#menuArea {width:280px;}
#menuArea .menuList {width:280px; right:-280px;}
#menuArea .menuList h2 {padding:25px 20px 30px;}
#menuArea .menuList h2 img{width:160px;}
#menuArea .menuList>.list>li>a {margin:0 20px 14px; font-size:16px;}
#menuArea .menuList>.list>li>a:after{display: none;}
#menuArea .mail{padding:60px 20px 0;}
#menuArea dl{padding:15px 0 0; display: block;}
#menuArea dl dt{font-size:15px;}
#menuArea dl dt:before{width:30px; height:30px; margin: -4px 10px 0 0;}
#menuArea dl dt:after{display: none;}
#menuArea dl dd{font-size:13px; display: block; padding:0px 0 0 40px;}
#menuArea .menuList .btnMenu_mClose {width:14px; height:14px; right:20px; top:34px;}



/* Footer */
#footer{}
#footer .contact{padding:20px 0 15px;}
#footer .contact .contact_in{display:block;}
#footer .contact .contact_in h4{font-size:17px; margin:0 0 2px;}
#footer .contact .contact_in p{font-size:14px;}
#footer .footer_in{padding:20px 3% 15px;}
#footer .footer_in p{font-size:13px; padding:0 0 2px;}
#footer .footer_in a{font-size:13px;}


/* 게시판 페이징 */
.page_num {padding:30px 0 0;}
.page_num ul.pagination li {margin: 0 5px;}
.page_num ul.pagination li:nth-child(1){margin:0 15px 0 0;}
.page_num ul.pagination li:nth-child(2){margin:0 15px 0 0;}
.page_num ul.pagination li:nth-last-child(2){margin:0 0 0 15px;}
.page_num ul.pagination li:nth-last-child(1){margin:0 0 0 15px;}
.page_num ul.pagination li a {font-size:13px;}
.page_num ul.pagination li a img{height: 10px;}
}
/*******************************************************************************
    @media ~480px                body,html{font-size:13px; }
*******************************************************************************/
@media all and (max-width:480px){



/* Common */
body,html{font-size:13px;}


}
/*******************************************************************************
    @media ~360px
*******************************************************************************/
@media all and (max-width:340px){




}



